*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxS;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
}
/* inizio header */
.top-bar{
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 0px 11px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.destra{
    display: flex;
}
.sinistra{
    display: flex;
}
.logo{
    padding: 14px;
}
.header-ul{
    display: flex;
    align-items: center;
    padding: 1px 20px;
}

.header-ul li{
    color: rgb(0, 0, 0);
    list-style: none;
    padding-right: 10px;
    padding: 13px 16px;
}
.header-ul li:hover{
    border-bottom: solid 2px;
}

li a{
    text-decoration: none;
    color: black;
}
.particolare{
    padding: 15px;
    background-color: rgb(122, 122, 223);
}

/* fine header */

/* inizio main */
/* prima seione */
h1{
    font-size: 82px;
}
.primo-settore{
    width: 100%;
    background-color: rgb(195 202 235);
    
}
.width-settore{
    /* width: 60%; */
    height: 705px;
    margin: 0 auto;
    /* text-align: center; */
    text-align: left;
    padding-top: 130px;
    width: 1205px;
}
.img-tex{
    display: flex;
    margin: 130px 0px;
    text-align: left;
}
.spazio1{
    padding-bottom: 38px;
}
.spazio2{
    padding: 40px 0px;
}
.arrow{
    font-size: 50px;
}
.prima-immagine{
    width: 820px;
}
/* seconda sezione */
.settore-piano{
    margin: 0 auto;
    width: 960px;
    text-align: left;
    padding-top: 200px;
}
h2{
    font-size: 32px;
}
.opzioni{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-top: 50px;
}
.fatturazione{
    display: flex;
}
.bordo{
    width: 10px;
    height: 10px;
    background: white;
    border-style: solid;
    border-radius: 40px;
    align-self: center;
}
.bordo-colorato{
    border-color: blue;
}

.scelta-piani{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.colunna-info{
    width: 30%;
    height: 1000px;
    border: solid 1px;
    border-color: lightgrey;
}
.titolo-colonna{
    text-align: center;
    padding: 7px;
    border-bottom: solid 1px;
    border-color: lightgrey;
}
.elenco-colonna{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.mese{
    padding: 10px 30px;
    background-color: rgb(55, 55, 255);
    text-decoration: none;
    color: #fff;
}
.mese1{
    padding: 10px 85px;

}
.elenco-colonna p{
    padding-top: 15px;
    
}
.special-font{
    color: rgb(150, 150, 150);
    padding: -10px 0px;
}
.sezione-interna-colonna{
    padding-top: 30px;
    padding-bottom: 60px;
}
.acquista-ora{
    padding: 33px 0px;
}
.check{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.riga{
    width: 70px;
    height: 1px;
    background-color: lightgray;
}
.h4-special{
    padding-top: 40px;
}

i{
    padding-right: 8px;
}
.piano-sotto-vendite{
    width: 960px;
    margin: 0 auto;
    margin-top: 52px;
    border: solid 1px;
    border-color: lightgray;
}

.titolo{
    text-align: center;
    padding: 7px;
    border-bottom: solid 1px;
    border-color: lightgray;
}

.flex-vendite{
    display: flex;
    justify-content: space-between;
    padding: 27px 28px;
}
.lato-destro{
    width: 71%;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.spessore1{
    padding-top: 28px;
}
.spessore2{
    padding-top: 66px;
}
.partner{
    width: 960px;
    margin: 0 auto;
}
.img2{
    width: 675px;
}
.elemento-sinistra{
    padding-top: 37px;
    padding-left: 40px;
}
.spessore3{
    padding: 30px 0px;
}

.bottone2{
    text-decoration: none;
    padding: 10px;
    border: solid 1px;
    color: black;
    border-color: black;

}

.img-6{
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
}
.sei-contenuti{
    display: flex;
    flex-wrap: wrap;
}
.size-h2{
    font-size: 44px;
}
.size2-h2{
    padding-top: 180px;
    font-size: 42px;
    width: 69%;
    padding-bottom: 60px;
}
.img3{
    width: 280px;
}
.misure-6-img{
    width: 31%;
    margin: 11px;
}
.misure-6-img h3{
    padding-bottom: 15px;
}

/* inseriamo i vari brand */
.brands{
    width: 1903px;
    margin: 0 auto;
    height: 635px;
    display: flex;
    margin-top: 120px;
    position: relative;
}

.brands-left{
    width: calc(100% / 3);
    /* height: 650px; */
    display: flex;
    flex-wrap: wrap;
}
.brands-center{
    width: calc(100% / 3);
    /* height: 650px; */
    background-color: #ecdede;
    position: relative;
 
}

.brands-right{
    width: calc(100% / 3);
    /* height: 650px; */
    display: flex;
    flex-wrap: wrap;
}
.riga2{
    width: 70px;
    height: 1px;
    background-color: #fff;
    margin: 34px 0px;
}
.sezione-interna{
   margin: 60px;
}
.left1{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(73, 117, 73);
}
.left2{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(48, 42, 42);
}
.left3{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(253, 175, 201);
}
.left4{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(192, 8, 8);
}
.left5{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(226, 52, 52);
}
.left6{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(188, 224, 255);
}
.left7{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: rgb(51, 51, 148);
}
.left8{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: yellow;
}

.img-special{
    padding: 123px 68px;
    background-color: rgb(159 159 159);
}
.img4{
    width: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}
/*fine brand*/
.brand-bottom{
    width: 1903px;
    background-color: rgb(161, 211, 255);
    margin: 0 auto;
}
.sotto-brand{
    width: 46%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 120px 0px;
    align-items: baseline;
}
.width-link{
    width: 26%;
}
.link45{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
}

/*domande frequenti*/
.ultimo-main{
    width: 960px;
    margin: 0 auto;
    padding-top: 150px;
    margin: 0 auto;
    border-bottom: solid 1px;
    border-color: lightgray;
}
.h2-last{
    padding: 50px 0px;
}
.last-main-flex{
    display: flex;
    border-top: solid 1px;
    border-color: lightgray;
    padding: 30px 0px;
    justify-content: space-between;
    padding-right: 10px;
}
.freccia1{
    display: inline-block;
}
.freccia2{
    display: none;
}
.last-main-flex:hover .freccia1{
    display: none;
}
.last-main-flex:hover .freccia2{
    display: inline-block;
}
.scomparso{
    display: none;
}

.last-main-flex:hover  + .scomparso{
    display: block;
    padding: 10px 0px;
}
/*footer*/
footer{
    width: 1903px;
    margin: 0 auto;
    height: 600px;
    background-color: rgb(31, 31, 31);
}
.foot{
    width: 65%;
    margin: 0 auto;
    margin-top: 170px;
}
.footer{
    
    display: flex;
    justify-content: space-between;
}
.footer-ul{
    
    list-style: none;
    padding-top: 90px;
    color: #fff;
}
.footer-ul li{
    padding-right: 10px;
    padding: 14px 0px;
 
}
.riga3{
    width: 85px;
    height: 1px;
    background-color: #fff;
    margin: 65px 0px;
}
.colore{
    color: #fff;
}