*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxS;
}

body{
    background-color: #fff;
    width: 1920px;
    margin: 0 auto;
}
/* inizio header */
.top-bar{
    width: 1899px;
    height: 74px;
    display: flex;
    background-color: bisque;
    padding: 0px 11px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.destra{
    display: flex;
}
.sinistra{
    display: flex;
}

ul{
    display: flex;
    align-items: center;
    padding: 1px 20px;
}

li{
    color: rgb(0, 0, 0);
    list-style: none;
    padding-right: 10px;
    padding: 0px 16px;
}

li a{
    text-decoration: none;
    color: black;
}
.particolare{
    padding: 15px;
    background-color: rgb(122, 122, 223);
}

/* fine header */

/* inizio main */
/* prima seione */
h1{
    font-size: 100px;
}
.primo-settore{
    width: 100%;
    background-color: rgb(195 202 235);
    
}
.width-settore{
    width: 60%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    text-align: left;
    padding-top: 130px;
}
.img-tex{
    display: flex;
    margin: 55px 0px;
    text-align: left;
}

.prima-immagine{
    width: 844px;
}
/* seconda sezione */
.settore-piano{
    margin: 0 auto;
    width: 50%;
    height: 900px;
    background-color: rgb(241, 225, 204);
    text-align: left;
    padding-top: 140px;
}
h2{
    font-size: 50px;
}
.opzioni{
    display: flex;
    width: 35%;
    justify-content: space-between;
    padding-top: 50px;
}
.fatturazione{
    display: flex;
}
.bordo{
    width: 10px;
    height: 10px;
    background: white;
    border-style: solid;
    border-radius: 40px;
    align-self: center;
}
.bordo-colorato{
    border-color: blue;
}

.scelta-piani{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.colunna-info{
    width: 30%;
    height: 800px;
    background-color: #d7e5ff;
    border: solid 1px;
}
.titolo-colonna{
    text-align: center;
    padding: 7px;
    border-bottom: solid 1px;
}
.elenco-colonna{
    padding-top: 40px;
    padding-left: 20px;
}